{% extends "luma/Demos/Fixed_Layout/base.html" %}
{% block content  %}
<div class="mdk-header-layout__content page-content ">

                <div class="page-section pb-0">
                    <div class="container page__container d-flex flex-column flex-sm-row align-items-sm-center">
                        <div class="flex">
                            <h1 class="h2 mb-0">Change Password</h1>
                            <p class="text-breadcrumb">Account Management</p>
                        </div>
                        <p class="d-sm-none"></p>
                        <a href=""
                           class="btn btn-outline-secondary flex-column">
                            Need Help?
                            <span class="btn__secondary-text">Contact us</span>
                        </a>
                    </div>
                </div>

                <div class="page-section">
                    <div class="container page__container">
                        <div class="page-separator">
                            <div class="page-separator__text">Change Password</div>
                        </div>
                        <form action="/change_password/" method="post"
                              class="col-sm-5 p-0">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="form-label"
                                       for="password">Password:</label>
                                <input id="password"
                                       type="password"
                                       class="form-control"
                                       placeholder="Type a new password ..."
                                       name="password"
                                           >
                                <input type="hidden" name="user_id" value={{user_id}} >
                                 >

                            </div>
                            <div class="form-group">
                                <label class="form-label"
                                       for="password2">Confirm Password:</label>
                                <input id="password2"
                                       type="password"
                                       class="form-control"
                                       placeholder="Confirm your new password ...">
                            </div>
                            <button type="submit"
                                    class="btn btn-primary">Save password</button>
                            <input type="hidden" name="password_reset_code" value={{password_reset_code}}>
                        </form>
                    </div>
                </div>

            </div>
{% endblock %}





