{% extends "luma/Demos/Fixed_Layout/base.html" %}
{% block content  %}
<div class="mdk-header-layout__content page-content ">

                <div class="pt-32pt pt-sm-64pt pb-32pt">
                    <div class="container page__container">


                            {% if error == True %}
                        <form action="/signin/" method="post"
                              class="col-md-5 p-0 mx-auto">
                            {% csrf_token %}
                            <div class="alert alert-accent"
                              role="alert">
                                <div class="d-flex flex-wrap align-items-start">
                                        <div class="mr-8pt">
                                            <i class="material-icons">access_time</i>
                                        </div>
                                        <div class="flex"
                                             style="min-width: 180px">
                                            <small class="text-black-100">
                                                <strong>Error!!</strong> Incorrect email or password
                                            </small>
                                        </div>
                                </div>
                        </div>
                            <div class="form-group">
                                <label class="form-label"
                                       for="email">Email:</label>
                                <input id="email"
                                       type="email"
                                       class="form-control"
                                       placeholder="Your email address ..."
                                       name="email" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label"
                                       for="password">Password:</label>
                                <input id="password"
                                       type="password"
                                       class="form-control"
                                       placeholder="Your password"
                                       name="password" required>
                                <p class="text-right"><a href="/reset_password/"
                                       class="small">Forgot your password?</a></p>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-primary">Login</button>
                            </div>
                        </form>
                            {% else %}
                            <form action="/signin/" method="post"
                              class="col-md-5 p-0 mx-auto">
                            {% csrf_token %}

                            <div class="form-group">
                                <label class="form-label"
                                       for="email">Email:</label>
                                <input id="email"
                                       type="email"
                                       class="form-control"
                                       placeholder="Your email address ..."
                                       name="email" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label"
                                       for="password">Password:</label>
                                <input id="password"
                                       type="password"
                                       class="form-control"
                                       placeholder="Your password"
                                       name="password" required>
                                <p class="text-right"><a href="/reset_password/"
                                       class="small">Forgot your password?</a></p>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-primary">Login</button>
                            </div>
                        </form>

                        {% endif %}
                    </div>
                </div>
                <div class="page-separator justify-content-center m-0">
                    <div class="page-separator__text">or sign-in with</div>
                </div>
                <div class="bg-body pt-32pt pb-32pt pb-md-64pt text-center">
                    <div class="container page__container">
                        <a href="index.html"
                           class="btn btn-secondary btn-block-xs">Facebook</a>
                        <a href="index.html"
                           class="btn btn-secondary btn-block-xs">Twitter</a>
                        <a href="index.html"
                           class="btn btn-secondary btn-block-xs">Google+</a>
                    </div>
                </div>

            </div>
{% endblock %}

