{% extends "luma/Demos/Fixed_Layout/base.html" %}
{% block content  %}
<div class="mdk-header-layout__content page-content ">

        <div class="page-section pb-0">
            <div class="container page__container d-flex flex-column flex-sm-row align-items-sm-center">
                <div class="flex">
                    <h1 class="h2 mb-0">Reset Password</h1>
                    <p class="text-breadcrumb">Account Management</p>
                </div>
                <p class="d-sm-none"></p>
                <a href=""
                   class="btn btn-outline-secondary flex-column">
                    Need Help?
                    <span class="btn__secondary-text">Contact us</span>
                </a>
            </div>
        </div>

        <div class="page-section">
            <div class="container page__container">
                <div class="page-separator">
                    <div class="page-separator__text">Reset Password</div>
                </div>
                <div class="col-sm-6 p-0">
                    <!--                            <div class="alert alert-soft-warning">-->
                    <!--                                <div class="d-flex flex-wrap">-->
                    <!--                                    <div class="mr-8pt">-->
                    <!--                                        <i class="material-icons">check_circle</i>-->
                    <!--                                    </div>-->
                    <!--&lt;!&ndash;                                    <div class="flex"&ndash;&gt;-->
                    <!--&lt;!&ndash;                                         style="min-width: 180px">&ndash;&gt;-->
                    <!--&lt;!&ndash;                                        <small class="text-100">&ndash;&gt;-->
                    <!--&lt;!&ndash;                                            An email with password reset instructions has been sent to your email address, if it exists on our system.&ndash;&gt;-->
                    <!--&lt;!&ndash;                                        </small>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
                    <!--                                </div>-->
                    <!--                            </div>-->

                    <form action="/reset_password/" method="post">
                        {% csrf_token %}
                        {% if Done == True %}
                        <div class="alert alert-primary" role="alert">
                            <div class="d-flex flex-wrap align-items-start">
                                <div class="mr-8pt">
                                    <i class="material-icons">access_time</i>
                                </div>
                                <div class="flex" style="min-width: 180px">
                                    <small class="text-black-100">
                                        <strong>Done :) </strong> check your email.
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if invalid_link %}
                        <div class="alert bg-accent text-white border-0"
                             role="alert">
                            <div class="d-flex flex-wrap align-items-start">
                                <div class="mr-8pt">
                                    <i class="material-icons">access_time</i>
                                </div>
                                <div class="flex"
                                     style="min-width: 180px">
                                    <small>
                                        <strong>Fail !</strong> This link is not available anymore please try again

                                    </small>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="form-label">Email:</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Your email address ..."
                                   name="email">
                            <small class="form-text text-muted">We will email you with info on how to reset your
                                password.</small>
                        </div>
                        <button class="btn btn-primary">Reset</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
